version: '3.8'

services:
  db:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - db_data:/data/db

  backend:
    image: ${DOCKER_USERNAME}/mean-backend:latest
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URL=mongodb://db:27017/dd_db
    depends_on:
      - db

  frontend:
    image: ${DOCKER_USERNAME}/mean-frontend:latest
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  db_data:
